{%extends "base.html"%} {%block
title%}{{item.description.capitalize()}}{%endblock%} {%block content%}
<div class="container">
  <div class="custom-container">
    <h2 class="custom-header">{{item.description}}</h2>
    <div class="row">
      <div class="col-4">
        <strong>Location:</strong> {{item.location.name}}:
        {{item.row_letter}}{{item.column_number}}
      </div>
      <div class="col-4">
        <a
          href="/droplists/{{droplist.id}}/items/{{item.id}}/edit"
          class="btn btn-info"
          >Edit</a
        >
      </div>
      <form
        action="/droplists/{{droplist.id}}/items/{{item.id}}/delete"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}
