{%extends "base.html"%} {%block title%}{{location.name}}{%endblock%} {%block
content%}
<div class="container">
  <div class="custom-container">
    <h2>
      {{location.name}}
    </h2>
    <div class="row">
      <div class="col-6">
        <a href="/locations/{{location.id}}/edit" class="btn btn-info">Edit</a>
      </div>
      <div class="col-6">
        <form action="/locations/{{location.id}}/delete" method="post">
          <button type="submit" class="btn btn-danger float-right">
            <span class="far fa-trash-alt"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}
