{%extends "base.html"%}{%block title%}About{%endblock%} {%block content%}
<div class="container">
  <div class="custom-container">
    <h2 class="custom-header">About</h2>
    signup users as forklift drivers or stockers. Stockers will have the
    opportunity to send requests to a forklift driver. The forklift driver can
    reject or approve the request. The request status will be labeled if the
    driver completes or fails to finish the task. The completed and uncompleted
    requests' data will be sent to an API to generate charts and graphs.
    {%endblock%}
  </div>
</div>
