{%extends "base.html"%}{%block title%}About{%endblock%} {%block content%}
<div class="container">
  <div class="custom-container">
    <h2 class="custom-header">About</h2>
    <p>
      My droplist is a web application built in Python/Flask for my capstone
      project for Springboard's Software Engineering Career Track. You can read
      the project proposal
      <a
        href="https://github.com/treyarte/capstone-one/blob/master/Capstone%20Proposal.pdf"
        >here</a
      >
      for more information on this project.
    </p>
    {%endblock%}
  </div>
</div>
