{%extends "base.html"%} {%block title%}My Droplist{%endblock%} {%block content%}

<!-- <img src="../../static/landing_img_small.jpg" class="landing-img-small" /> -->
<div class="landing-img-small"></div>
<div class="landing-img-med"></div>
<div class="container landing-container">
  <div class="row">
    <div class="col-lg-12 jumbotron-fluid text-white landing-header">
      <div class="landing-title">
        <strong>
          My Droplist
        </strong>
      </div>
      <div class="landing-sub">
        The app that manages and keeps track of your stockers' droplists
      </div>
    </div>
    <div class="col-lg-12 landing-btn">
      <a href="/sign-up" class="btn btn-outline-light sign-up-btn-landing"
        >Sign Up</a
      >
    </div>
  </div>
</div>
{%endblock%}
