html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.custom-header {
  text-align: center;
  margin: 1rem 0;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.msg-container {
  margin-top: 1rem;
}

/**base page**/

/**landing page**/

.landing-title {
  font-size: 2.5rem;
}

.landing-sub {
  font-size: 1rem;
  line-height: 2rem;
}

.landing-btn {
  padding: 0;
  margin-top: 1rem;
  text-align: center;
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.landing-header {
  text-align: center;
}

.landing-img-small {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./landing_img_small.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.landing-img-med {
  display: none;
}

.sign-up-btn-landing {
  z-index: 1;
}

/**Navbar css**/
.custom-navbar-bg {
  background-color: #212121;
}

.nav-container {
  width: 100%;
}

/**Sign up css**/

.signup-btn {
  margin: 1rem 0;
  background-color: #212121;
}

/**desktop queries**/
@media only screen and (min-width: 1080px) {
  .custom-header {
    text-align: start;
  }

  .landing-img-small {
    display: none;
  }
  .landing-img-med {
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('./landing_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }

  .landing-btn {
    padding: 0;
    margin-top: 1rem;
  }

  .landing-header {
    text-align: start;
  }

  .sign-up-btn-landing {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }

  .landing-sub {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .landing-title {
    font-size: 4.5rem;
  }
  .landing-btn {
    text-align: start;
  }

  /**signup css**/

  .btn-container {
    justify-content: flex-start;
  }
}
