{%extends "base.html"%}{%block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="custom-header">{{droplist.description}}</h2>
    </div>
    <div class="col-12">
      <span class="badge badge-info">{{droplist.department}}</span>
    </div>
    <div class="col-12">
      <span class="badge badge-pill {{droplist.status}}"
        >{{droplist.status}}</span
      >
      <div class="col-12">
        <em>{{droplist.timestamp.strftime('%b %d, %y %I:%M%p')}}</em>
      </div>
    </div>
  </div>

  {%if droplist.items%} {%for key, values in
  droplist.group_droplist_items_location.items()%}
  <div class="items-list">
    <div class="location">
      <h3>
        {{key}}
      </h3>
    </div>
    {%for item in values %}
    <div class="item">
      <span class="item-info"
        >{{item.row_letter}}{{item.column_number}} {{item.description}}</span
      >
      <a href="/droplists/{{droplist.id}}/items/{{item.id}}/edit">Edit</a>
    </div>
    {%endfor%}
  </div>

  {%endfor%} {%for item in droplist.items%} {%endfor%} {%else%}
  <div><em>There are no items in this droplist</em></div>

  {%endif%} {%if g.user.current_role.role == "stocker" and g.user.get_stocker.id
  == droplist.stocker_id%}
  <a
    href="/droplists/{{droplist.id}}/items/new"
    class="btn btn-lg btn-success custom-btn"
    >Add Item</a
  >

  {%endif%}
</div>
{%endblock%}
