{%extends "base.html"%}{%block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>{{droplist.description}}</h2>
    </div>
    <div class="col-6">department:{{droplist.department}}</div>
    <div class="col-6">Time: {{droplist.timestamp}}</div>
    <div class="col-6">Status: {{droplist.status}}</div>
  </div>

  {%if droplist.items%} {%for key, values in
  droplist.group_droplist_items_location.items()%}
  <div class="items-list">
    <div class="location">
      <h3>
        {{key}}
      </h3>
    </div>
    {%for item in values %}
    <div class="item">
      <span class="item-info"
        >{{item.row_letter}}{{item.column_number}} {{item.description}}</span
      >
      <a href="/droplists/{{droplist.id}}/items/{{item.id}}/edit">Edit</a>
    </div>
    {%endfor%}
  </div>

  {%endfor%} {%for item in droplist.items%} {%endfor%} {%endif%} {%if
  g.user.current_role.role == "stocker" and g.user.get_stocker.id ==
  droplist.stocker_id%}
  <a href="/droplists/{{droplist.id}}/items/new">Add Items</a>
  {%endif%}
</div>
{%endblock%}
