{%extends "base.html"%}{%block content%} {%if droplists%} {%for droplist in
droplists%}
<div>
  <a href="/droplists/{{droplist.id}}" class="btn btn-info">View</a>
  <ul>
    <li>
      {{droplist.status}}
    </li>
    <li>
      {{droplist.description}}
    </li>
    <li>
      {{droplist.department}}
    </li>
    <li>
      {{droplist.timestamp}}
    </li>

    {%if g.user.current_role.role == "forklift_driver"%}
    <div>
      <form action="/droplists/{{droplist.id}}/option" method="post">
        <input type="hidden" name="choice" id="choice" value="accepted" />
        {%if droplist.status == "accepted"%}
        <button disabled="disabled">Accept</button>
        {%else%}
        <button type="submit">Accept</button>
        {%endif%}
      </form>
    </div>
    <div>
      <form action="/droplists/{{droplist.id}}/option" method="post">
        <input type="hidden" name="choice" id="choice" value="declined" />
        {%if droplist.status == "declined"%}
        <button disabled="disabled">Decline</button>
        {%else%}
        <button type="submit">Decline</button>
        {%endif%}
      </form>
    </div>
    {%endif%}
  </ul>
</div>
{%endfor%} {%else%}
<p>Nothing to see here but us stockers</p>
{%endif%} {%endblock%}
