{%extends "base.html"%}{%block content%}
<div class="container droplists-container">
  <h2 class="custom-header">Droplists</h2>
  {%if droplists%}
  <div class="row">
    {%for droplist in droplists%}

    <div
      class="droplist col-12 col-md-12 col-lg-5"
      data-droplist_id="{{droplist.id}}"
    >
      {%if g.user.current_role.role == "stocker"%}
      <form action="/droplists/{{droplist.id}}/delete" method="post">
        <button type="submit" class="delete-dl-btn btn">
          <span class="far fa-trash-alt"></span>
        </button>
      </form>
      {%endif%}
      <h5>
        {{droplist.description}}
        <a href="/droplists/{{droplist.id}}" class="btn-link">view</a>
      </h5>

      <span class="badge badge-pill {{droplist.status}}"
        >{{droplist.status}}</span
      >

      <div>
        <strong>Department:</strong>
        <span class="badge badge-info">{{droplist.department}}</span>
      </div>

      <div>
        <strong>Date:</strong> {{droplist.timestamp.strftime('%b %d, %y
        %I:%M%p')}}
      </div>
      {%if not droplist.is_complete%}
      <div class="row mt-1">
        {%if g.user.current_role.role == "stocker"%}
        <div class="col-6">
          <a
            href="/droplists/{{droplist.id}}/edit"
            class="btn btn-info droplist-link"
            >Edit</a
          >
        </div>
        <div class="col-6">
          {%if not droplist.droplist_items%}
          <div class="tooltip-wrapper">
            <span
              class="fas fa-question"
              aria-disabled="true"
              data-toggle="tooltip"
              placement="bottom"
              title="Cant send an empty droplist. Click the view link to add items."
            ></span>
            <a
              href="/droplists/{{droplist.id}}/send"
              class="btn btn-dark droplist-btn droplist-link disabled"
              aria-disabled="true"
              data-toggle="tooltip"
              placement="bottom"
              title="Add items to the droplist by clicking on+66 view"
            >
              Send <span class="fas fa-paper-plane"></span
            ></a>
          </div>
          {%else%}
          <a
            href="/droplists/{{droplist.id}}/send?department=all"
            class="btn btn-dark droplist-btn droplist-link"
          >
            Send <span class="fas fa-paper-plane"></span
          ></a>
          {%endif%}
        </div>
        {%elif g.user.current_role.role == "forklift_driver"%}
        <div class="col-6">
          <form action="/droplists/{{droplist.id}}/option" method="post">
            <input type="hidden" name="choice" id="choice" value="accepted" />
            {%if droplist.status == "accepted"%}
            <button disabled="disabled" class="btn btn-success">
              Accept
            </button>
            {%else%}
            <button type="submit" class="btn btn-success">Accept</button>
            {%endif%}
          </form>
        </div>
        <div class="col-6">
          <form action="/droplists/{{droplist.id}}/option" method="post">
            <input type="hidden" name="choice" id="choice" value="declined" />
            {%if droplist.status == "declined"%}
            <button disabled="disabled" class="btn btn-secondary droplist-btn">
              Decline
            </button>
            {%else%}
            <button type="submit" class="btn btn-secondary droplist-btn">
              Decline
            </button>
            {%endif%}
          </form>
        </div>
        {%endif%}
      </div>
      {%endif%}
    </div>

    {%endfor%} {%else%}
    <div class="custom-container">You do not have any droplists!</div>
    {%endif%}
  </div>

  {%if g.user.current_role.role == "stocker"%}
  <a href="/droplists/new" class="btn btn-lg btn-success droplist-create-btn"
    ><span class="fas fa-plus"></span
  ></a>
  <a
    href="/droplists/new"
    class="btn btn-success droplist-create-btn-lg custom-btn"
    >Create Droplist</a
  >
  {%endif%}
</div>

{%endblock%}
