{%extends "base.html"%}{%block content%} {{droplist.description}}
{{droplist.department}} {{droplist.timestamp}} {{droplist.status}}
<div>
  {%if droplist.items%} {%for item in droplist.items%}
  <div>
    {{item.description}}
    <a href="/droplists/{{droplist.id}}/items/{{item.id}}">View</a>
  </div>
  {%endfor%} {%endif%}
</div>
{%if g.user.current_role.role == "stocker" and g.user.get_stocker.id ==
droplist.stocker_id%}
<a href="/droplists/{{droplist.id}}/items/new">Add Items</a>
<a href="/droplists/{{droplist.id}}/edit" class="btn btn-info">Edit</a>
<form action="/droplists/{{droplist.id}}/send" method="post">
  <button type="submit" class="btn btn-primary">Send</button>
</form>
{%endif%}
<form action="/droplists/{{droplist.id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>
{%endblock%}
