{%extends "base.html"%} {%block title%}Send{%endblock%} {%block content%}
<div class="container">
  <div class="custom-container">
    <h2 class="custom-header">Available Forklift Drivers</h2>
    {%if drivers%} {%for driver in drivers%}
    <ul class="list-group">
      <li class="list-group-item">
        <strong>
          {{driver.full_name}}
        </strong>
        <span class="badge badge-info">{{driver.user.department}}</span>
        <form
          action="/droplists/{{droplist.id}}/send"
          method="post"
          class="d-inline float-right"
        >
          <input
            type="hidden"
            name="driverId"
            id="driverId"
            value="{{driver.id}}"
          />
          {%if driver.id != droplist.forklift_driver_id or droplist.status !=
          "sent" and droplist.status != "accepted"%}
          <button type="submit" class="btn btn-sm btn-primary">Send</button>
          {%else%} {%endif%}
        </form>
      </li>
    </ul>
    {%endfor%} {%else%}
    <div>No drivers available</div>
    {%endif%}
  </div>
</div>
{%endblock%}
