<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {%if g.user%}
    <form action="/logout" method="post">
      <button type="submit">Log out</button>
    </form>
    {%else%}
    <li><a href="/login">Login</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
    {%endif%} {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages%}
    <div class="container">
      {%for category, msg in messages%}
      <div class="alert alert-{{category}}">{{msg}}</div>
      {%endfor%}
    </div>
    {%endif%}{%endwith%} {%block content%} {%endblock%}
  </body>
</html>
