{%extends "base.html"%}{%block content%}
<div>
  {%if droplist.items%}
  <table>
    <tr>
      <th>Row</th>
      <th>Column</th>
      <th>Description</th>
    </tr>
    {%for item in droplist.items%}
    <tr>
      <td>
        {{item.row_letter}}
      </td>

      <td>
        {{item.column_number}}
      </td>

      <td>
        {{item.description}}
      </td>
    </tr>
    {%endfor%}
  </table>
  {%else%}
  <div>
    <p>Nothing to see here but us stockers!</p>
  </div>
  {%endif%}
</div>
{%endblock%}
