{%extends "base.html"%} {%block title%}Login{%endblock%} {%block content%}
<div class="container">
  <div class="custom-container">
    <h2 class="custom-header">Login</h2>
    <form method="post">
      <div class="form-row">
        {{form.hidden_tag()}} {%for field in form if field.widget.input_type !=
        "hidden"%} {%for error in field.errors%}
        <span class="text-danger">{{error}}</span>
        {%endfor%}
        <div class="form-group col-lg-12">
          {{field.label}} {{field(placeholder=field.label.text,
          class="form-control")}}
        </div>
        {%endfor%}
        <div class="btn-container">
          <button class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
{%endblock%}
