{%extends "base.html"%}{%block content%}
<div class="container">
  <div class="custom-container">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <span> <strong>Department:</strong> {{user.department}}</span> <br />
    <span> <strong>Role:</strong> {{user.current_role.role}}</span>
    {%if g.user.id == user.id%}
    <form action="/users/{{user.id}}/delete" method="post">
      <button type="submit" class="btn btn-danger custom-btn">
        Delete
      </button>
    </form>
    {%endif%}
  </div>
</div>
<div>
  {%endblock%}
</div>
